.header {
    width: 100%;
    background-color: #0e0d0d;
    padding: 60px 0;
	
	
}

.header__wrapper {
	display:flex;
	align-items: center;
	justify-content: space-between;
	gap: 80px;
}

.search__btn {
	display: inline-flex;
	align-items: center;
	width: 5em;
	height: 2em;
	align-items: stretch;
	
}
.search__input {
	background-color: antiquewhite;
}

@media (max-width: 700px) {
	.header__wrapper {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}
}