.header {
	display: flex;
    justify-content: space-between;
	background-image: url("/public/fotor_2023-3-4_17_2_22.jpg");
	background-size: 100% 100%;
    padding: 40px 0;
		
}


.search__btn {
	width: 60px;
	height: 25px;
}
.search__input {

	width: 500px;
	height: 20px;
	background-color: antiquewhite;
	}

.logo {
	width: 200px;
	height: 100px;

	fill: black;
	padding-left: 50px;
}
.reg_btn {
	width: 100px;
	height: 25px;
}
.log_btn {
	width: 60px;
	height: 25px;
}

@media (max-width: 700px) {
	.header__wrapper {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}
}