
.top {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    height: 100%; 
    padding: 10px 0;
    
}
.bottom {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    color: white;
    width: 100%;
    height: 15%; 
    text-align: center;
 }
 .socials {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 14px;
	list-style: none;
	padding: 0;
	margin: 0;
}
.soc {
    color:black;
    text-align: center;
}

.socials__link {
	display: flex;
	opacity: 0.5;
	transition: opacity 0.4s;
}

.socials__link:hover {
	opacity: 1;
}


.contact {
    color:black;
    text-align: center;
}

.faq {
    color:black;
    text-align: center;
}

@media (max-width: 700px) {
	.header__wrapper {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}
}